<h1>餐廳後台</h1>

<a href='/admin/restaurants'>Restaurants</a> |
<a href='/admin/users'>Users</a> |
<a href='/admin/categories'>Categories</a>

<a href='/admin/restaurants/create'>
  <button type="button" class="btn btn-primary">New Restaurant</button>
</a>
<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurants}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.Category.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/restaurants/{{this.id}}">
            Show
          </a>
        </button>
        <button type="button" class="btn btn-link">
          <a href="/admin/restaurants/{{this.id}}/edit">
            Edit
          </a>
        </button>

        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#DeleteConfirmModal{{this.id}}">
          Delete
        </button>

        <!-- The Modal -->
        <div class="modal fade" id="DeleteConfirmModal{{this.id}}">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">！！！注意！！！</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">
                你將刪除下列餐廳資料:
                <hr>
                <h1>{{this.name}}</h1>
                <img class="img-responsive center-block" src="{{this.image}}" style="width: 250px;margin-bottom: 25px;">
                <br>
                <div class="well">
                  <ul class="list-unstyled">
                    <li><strong>Opening Hour:</strong> {{this.opening_hours}}</li>
                    <li><strong>Tel:</strong> {{this.tel}}</li>
                    <li><strong>Address:</strong> {{this.address}}</li>
                  </ul>
                </div>
                <div class="col-md-8">
                  <p>{{this.description}}</p>
                </div>
                <hr>
                此動作無法復原，是否確認刪除？
              </div>

              <div class="modal-footer">
                <form action="/admin/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
              </div>

            </div>
          </div>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>